<!-- start of header component html -->
<nav class="navbar z-depth" id="nav_start">
  <a class="navbar-brand col-" href="#">Menu</a>
  
  <!-- Arrow toggle button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="fas fa-arrow-down" style="transition : transform .35s linear"></span>
  </button>

  <!-- START of drop down -->
  <div class="navbar-collapse collapse show" id="navbarSupportedContent">
    
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/index.html"> Home </a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="profile.html"> Portfolio </a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="resume.html"> Resume </a>
      </li>
    </ul>

  </div>
  <!-- END of drop down -->

</nav>
<!-- end of header component html -->