body {
  padding: 50px;
}

a {
  color: #00B7FF;
}

.body-base {
  background-color: #f7f7f7; 
  font-family: 'Montserrat', serif;
}

.body-base a {
  color: #393f4d;
}

.body-base a:hover {
  font-weight: bold;
  color:inherit
}

.navbar-position {
  bottom: 16px;
  position: fixed!important;
}

.main-container {
  text-align: center;
  vertical-align: middle;
  /* margin-top: 100px; */
}
.navbar {
  background-color: #03abf4;
  z-index: 100;
}

.navbar-toggler {
  outline-color: #03abf4!important;
}

.base-nav-content {
  max-width: 200px; 
  float: left;
  z-index: 10;
  /* margin-top: 100px; */
}

.navbar-brand {
  color: white!important;
}

.nav-link {
  color: white!important;
}

.z-depth {
  box-shadow: 0 6px 6px rgba(10,16,20,.50);
  transform: translate3d(0,0,0);
  transition: background .4s cubic-bezier(.25,.8,.25,1),box-shadow 280ms cubic-bezier(.4,0,.2,1);
}
  .z-depth:hover {
  box-shadow: 0 8px 8px 8px rgba(0,0,0,.5), 0 8px 8px 0 rgba(0,0,0,.5), 0 8px 8px 0 rgba(0,0,0,.5) !important;
  transform: translate3d(0,0,0);
  transition: background .4s cubic-bezier(.25,.8,.25,1),box-shadow 280ms cubic-bezier(.4,0,.2,1);
}

.logo-shadow {
  /* box-shadow: 0 8px 8px 8px rgba(0,0,0,.5), 0 8px 8px 0 rgba(0,0,0,.5), 0 8px 8px 0 rgba(0,0,0,.5) !important; */
}

.fa-github {
  color: white;
}

.fa-linkedin-in {
  color: white;
}

.fa-free-code-camp {
  color: white;
}

.home-header-padding {
  margin-top: 25px;
}

.main-div {
  float: right;
  bottom: 75px;
}

.main-profile-div {
  max-width: 1250px;
  margin: 0 auto;
  height:2000px;
}

.fa-icon-list {
  list-style: none;
  overflow: hidden;
  display: flex;
  justify-content: center;
  padding-left: 0;
}

.fa-middle-icon {
  margin-left: 2.5%;
  margin-right: 2.5%;
}

.fa-icon-list li {
  float: left;
  background-color: #03abf4;
  height: 50px;
  width: 50px;
  border-radius: 50px;
}

.fa-icon-list li:hover{
  background-color: black;
}

.fa-hover:hover {
  color:white;
}

.arrow-up {
  /* display: inline-block;
  animation: like 2s 3s linear; */
  /* font-size: 40px; */
  transform: rotate(180deg);
  transition: transform .35s linear;
}

@keyframes like {
  0% {
    transform: rotate( 0deg ) scale( 1 );
  }
  25% {
    transform: rotate( 60deg ) scale( 1 );
  }
  50% {
    transform: rotate( 120deg ) scale( 1 );
  }
  75%,100% {
    transform: rotate( 180deg ) scale( 1 );
  }
}

.content-menu-position {
  bottom: 15px;
  right: 40px;
}

.sticky-header {
  position: fixed!important;
  top: 45px;
  right: 65px;
  width: 225px;
}


.project-title {
  font-size: 2.5em; 
  color:#026670; 
  font-weight:800; 
  margin-bottom:20px;
  width: max-content;
}

.project-title:after {
  display:block;
  content: '';
  border-bottom: solid 1.75px #026670;  
  transform: scaleX(0);  
  transition: transform 250ms ease-in-out;
}

.project-title:before{
  position:absolute;
  bottom:1.2em; left:0;
  width:100%;
}

.project-title:hover:after { transform: scaleX(1) !important; }


.project-link:hover{
   text-decoration: none; 
} 

.portfolio-h1 {
  font-size: 3.5em;
}

.portfolio-hr {
  border-top:1px solid black;
}

.portfolio-section {
  padding-top:35px;
}

.entry-padding {
  padding-top:50px;
}


.resume-h2 {
  font-size: 2.5em; 
  padding-top:25px; 
  border-bottom: 1.5px solid #026670;
}

.resume-objective {
  font-size:1.4em;
  max-width:950px;
}

.employment-entry {
  background-color:#e3e5e8; 
  margin:24px 0px; 
  padding:16px;
}

.resume-h3 {
  font-size:2.25em;
}

.resume-years {
  margin: 4px 0px 24px 0px; 
  font-style:italic;
}

.resume-job-title {
  font-size:2em; 
  border-bottom:1.5px solid #026670;
}

.resume-job-details {
  font-size:1.3em; 
  padding-bottom:50px;
}

.resume-skills-section {
  display:flex; 
  flex-wrap:wrap;
}

.skills-col {
  padding-right: 55px;
}